<style>
    h1 {
        color: rgb(107, 107, 218);
        font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
    }
    body { margin: 20px; font-family: inherit; }
</style>

<h1>hello: <%= nameKey %></h1>
