<h1> here are some secrets </h1>
<h2> keep it </h2>

<button onclick="window.location.href='/'">Back to Home</button>

<% for (let i=0; i < mySecrets.length; i++){ console.log(mySecrets[i]); let s=mySecrets[i]; %>
    <p>
        <%= s %>
    </p>
<%
    }
    %>
